http://data.seoul.go.kr/dataList/OA-15493/A/1/datasetView.do 의 데이터 추출

# Module import

In [1]:
import pandas as pd
import requests

In [2]:
text = open('C:/Users/goran/Desktop/Personal/key/서울 열린데이터광장.txt','r')
key = text.read()

# Get data

In [3]:
def get_data(start,end):
    url = f'http://openapi.seoul.go.kr:8088/{key}/json/bikeList/{start}/{end}/'
    response = requests.get(url)
    data = response.json()
    data = pd.DataFrame(data['rentBikeStatus']['row'])
    return data

In [4]:
data1 = get_data(1,1000)
data2 = get_data(1001,2000)
data3 = get_data(2001,3000)

# Data concat

In [5]:
df = pd.concat([data1,data2,data3])

In [6]:
df

,rackTotCnt,stationName,parkingBikeTotCnt,shared,stationLatitude,stationLongitude,stationId
0,22,102. 망원역 1번출구 앞,13,59,37.55564880,126.91062927,ST-4
1,16,103. 망원역 2번출구 앞,22,138,37.55495071,126.91083527,ST-5
2,15,104. 합정역 1번출구 앞,2,13,37.55062866,126.91498566,ST-6
3,7,105. 합정역 5번출구 앞,0,0,37.55000687,126.91482544,ST-7
4,12,106. 합정역 7번출구 앞,3,25,37.54864502,126.91282654,ST-8
...,...,...,...,...,...,...,...
260,10,4854. 가락시장역 2번 출구,1,10,37.49273300,127.11798859,ST-2606
261,10,4855. 거여5단지 503동 앞,11,110,37.48933029,127.14604950,ST-2607
262,10,4856. 올림픽공원 서1문 앞,2,20,37.52021790,127.11457062,ST-2608
263,15,4857. 올림픽공원 장미광장,0,0,37.51275635,127.12629700,ST-2621
264,15,4859. 잠실나루 나들목,2,13,37.52148438,127.10028076,ST-2609

In [7]:
df.reset_index(inplace = True,drop = True)

In [8]:
df.to_excel('자전거 대여소.xlsx')